a {
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: #141414;
    padding: 0px 5px;
    margin: 0px 10px;
    font-weight: bold;
    opacity: 0.2;

    transition: opacity 0.1s ease;
}

a:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}