.wrapper {
    overflow: hidden;
    margin: 1px 20px 5px 20px;
    float: left;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wrapper:hover {
    box-shadow: 0 0px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
}
.imageLink {
    float: 'left';
    margin: 0;
    padding: 0; 
    text-decoration: none;
}

.img {
    height: 180px;
    width: 200px;
    padding: 3px;
    margin-right: 10px;
    float: left;
}

.businessHeaders {
    margin-top: 10px;
}

.businessTitle {
    float: left;
    margin: 1px;
}

.businessType {
    float: right;
    margin: 1px;
    margin-right: 5px;
    font-size: 10px;
}

.businessDesc {
    margin-top: -5px;
}