
h5 {
	font-size: 12px;
}

#businessConfirmButton {
	background-color: #f1592a;
	color: white;
	height:50px;
	width: 210px;
}

#studentConfirmButton {
	background-color: #8cc63f;
	color: white;
	height:50px;
	width: 210px;
}

.small {
	font-size: 10px;
}

.content {
    font-size: 12px;
}

.orange {
	color: #f1592a;
}

.green {
	color: #8cc63f;
}

.postsContainer {
	float:left;
	border: 2px solid #cccccc;
	background-color: white;
	padding: 10px;
	width: 500px;
	text-align: center;
	margin: 10px auto auto 40px;
	border-radius: 15px;
	overflow: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
}

.grey {
	color: grey;
}

.removeButton {
	background-color: red;
	color:white;
	width:auto;
	float:right
}